@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(sp)
// @include mq(tab)

/* ============================================
// フッター
// ==========================================*/
.footer{
  position: relative;

  &__inner {
  }
  &__body {
    padding: 60px 0;
    text-align: center;
    @include mq(sp) {
      padding: 48px 0;
    }
  }

  &__nav {
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      height: 100%;
      flex-wrap: wrap;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;

      &__item {
        flex: 1;
        @include mq(pc) {
          border-left: 1px solid #dedede;
        }
        @include mq(sp) {
          flex: auto;
          width: 50%;

          &:nth-child(3),
          &:nth-child(5),
          &:nth-child(7) {
            border-left: 1px solid #dedede;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            border-top: 1px solid #dedede;
          }
        }

        &-active {
          a {
            color: #004391;
            @include mq(pc) {
              &:hover {
                opacity: 1;
                cursor: auto;
              }
            }
          }
          border-bottom: 2px solid #004391;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 20px 10px;
          line-height: 1.3;
          font-size: 1.5rem;
          font-weight: bold;
          @include mq(sp) {
            font-size: 1.3rem;
            padding: 16px 8px;
          }
          @media only screen and (max-width: 370px) {
            font-size: 1.2rem;
            padding: 16px 4px;
          }
          @media only screen and (max-width: 340px) {
            font-size: 1rem;
            padding: 16px 0px;
          }
        }
        .small {
          display: block;
          font-size: 1.3rem;
          line-height: 1.3;
          margin-top: 4px;
          @media screen and (max-width: 1201px) {
            font-size: 1rem;
          }
        }
        br.oes {
          display: block;
          @media screen and (min-width: 1400px) {
            display: none;
          }
          @include mq(sp) {
            display: none;
          }
        }

        &-home {
          @include mq(sp) {
            width: 100%;
            border-bottom: 1px solid #dedede;
          }
        }
      }
    }
  }
  &__corporate {
    margin-top: 32px;
    @include mq(sp) {
      margin-top: 20px;
    }

    a {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #f2f2f2;
      border-radius: 100px;
      padding: 10px 24px;
      transition: opacity 0.3s;
      @include mq(pc) {
        &:hover {
          opacity: 0.7;
        }
      }
      @include mq(sp) {
        padding: 8px 20px;
      }

      .txt {
        font-size: 1.5rem;
        color: $txt-color;
        @include mq(sp) {
          font-size: 1.4rem;
        }
      }
      .icon {
        display: flex;
        margin-left: 8px;
      }
    }
  }
  &__cr {
    margin-top: 36px;
    font-size: 1.2rem;
    @include mq(sp) {
      margin-top: 28px;
    }
  }
  &__ga {
    background-color: #f2f2f2;
    text-align: center;
    padding: 12px 0 14px;
    @include mq(sp) {
      padding: 8px 0 14px;
    }

    a {
      color: rgba($txt-color,0.6);
      font-size: 1.2rem;
      border-bottom: 1px solid;
      padding-bottom: 2px;
      @include mq(sp) {
        font-size: 1rem;
      }
    }
  }


}

/* ============================================
// ページトップ
// ==========================================*/
.pagetop{
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 100;
  opacity: 0;
  transform: translateY(16px);
	transition: opacity 0.4s,transform 0.4s;
  pointer-events: none;
  @include mq(sp){
    right: 4px;
    bottom: 4px;
  }

  .js-scroll &{
		opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
	}
  a {
    display: block;
    @include mq(pc){
      transition: opacity 0.3s;
      &:hover{
        opacity: 0.7;
      }
    }

    img {
      @include mq(sp){
        height: 64px;
        width: auto;
      }
    }
  }
}
