@charset "utf-8";

@use '../foundation/mixins' as *;
// @include mq(sp)
// @include mq(tab)

/* ============================================
// MODULES
// ==========================================*/

/*--------------------
	pageLogo
--------------------*/
.pageLogo {
	text-align: center;
	padding: 28px;
	@include mq(sp) {
		padding: 16px;
	}

	.logo {
		@include mq(sp) {
			transform: scale(0.7);
		}
	}
}

/*--------------------
	breadcrumb
--------------------*/
.breadcrumb {
	background-color: #f2f2f2;
	&__list{
		position: relative;
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
		padding: 12px 20px 14px;
		@include mq(sp) {
			padding: 8px 10px 10px;
		}
		&__item{
			display: inline;
			font-size: 1.3rem;
			color: $txt-color;
			margin: 0 2px;
			@include mq(sp) {
				font-size: 1.1rem;
			}
			&::after{
				content: "\003e";
				margin-left: 7px;
			}
			&:last-child{
				&::after{
					display: none;
				}
			}
			a{
				color: $txt-color;
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
}

/*--------------------
	commonBtn
--------------------*/
.commonBtn01 {
	a {
		color: #fff;
		border-radius: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.txt {

	}

	&-size {
		&-s {
			width: 220px;
			height: 60px;
			@include mq(sp) {
				width: 180px;
				height: 48px;
			}
			.txt {
				margin-right: 20px;
			}
		}
		&-xl {
			width: 500px;
			height: 100px;
			@include mq(tab) {
				width: 450px;
				height: 90px;
			}
			@include mq(sp) {
				width: 280px;
				height: 60px;
			}
		}
	}
	&-icon {
		&-arrowRight {
			a {
				position: relative;
				&::after {
					content: '';
					display: inline-block;
					background-image: url(../../img/common/ico_arrow.png);
					background-size: contain;
					background-repeat: no-repeat;
					width: 15px;
					height: 12px;
					position: absolute;
					top: 50%;
					right: 10%;
					transform: translateY(-50%);
				}
			}
		}
	}
	&-color {
		&-blue {
			a {
				background-color: #024299;
			}
		}
		&-lightBlue {
			a {
				background-color: #00a4e8;
			}
		}
	}
}

/*--------------------
	commonLogo
--------------------*/
.commonLogo01 {
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__main {
		margin-right: 12px;
		@include mq(sp) {
			margin-right: 8px;
		}

		img {
			@include mq(sp) {
				height: 32px;
			}
		}
	}
	&__sub {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		white-space: nowrap;
		&__eng {
			line-height: 1;
			font-size: 1.5rem;
			font-weight: bold;
			@include mq(sp) {
				font-size: 1.2rem;
			}
		}
		&__ja {
			line-height: 1;
			font-size: 1.3rem;
			font-weight: bold;
			margin-top: 6px;
			@include mq(sp) {
				font-size: 1rem;
				margin-top: 2px;
			}
		}
	}

	&-center {
		a {
			justify-content: center;
		}
	}
}

/*--------------------
	faqBox
--------------------*/
.faqBox {
	border: 3px solid #024299;
	padding: 32px 6.8% 40px;
	@include mq(sp) {
		padding: 16px 7.2%;
	}
}

/*--------------------
	faqList
--------------------*/
.faqList {
	&__item {
		border-top: 1px solid #dedede;
		&:first-child {
			border-top: none;
		}
	}
}

/*--------------------
	faqAccordion
--------------------*/
.faqAccordion {
	&__head {
		position: relative;
		z-index: 1;
		cursor: pointer;
		transition: color 0.24s;
		padding: 32px 2.4%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include mq(pc) {
			&:hover {
				.faqAccordion__question {
					opacity: 0.7;
				}
			}
		}
		@include mq(sp) {
			padding: 18px 0;
		}

		.toggle_trigger {
			flex-shrink: 0;
			display: block;
			width: 46px;
			height: 46px;
			border: none;
			position: relative;
			@include mq(sp) {
				width: 46px * 0.7;
				height: 46px * 0.7;
			}
			&:hover {
					opacity: 1;
			}
			&:focus {
					outline: none;
			}
		}
		.toggle_trigger_txt_ico {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 100;
			width: 15px;
			height: 2px;
			background: #0c499d;
			cursor: pointer;
			transition: transform .3s;
			@include mq(sp) {
				width: 8px;
				margin-top: -2px;
			}
			&:nth-of-type(1) {
				margin-left: -5px;
				transform: translateX(-50%) rotate(45deg);
				@include mq(sp) {
					margin-left: -2px;
				}
			}
			&:nth-of-type(2) {
				margin-left: 5px;
				transform: translateX(-50%) rotate(-45deg);
				@include mq(sp) {
					margin-left: 2px;
				}
			}
		}
		&.open {
			.toggle_trigger_txt_ico {
				&:nth-of-type(1) {
					transform: translateX(-50%) rotate(135deg);
				}
				&:nth-of-type(2) {
					transform: translateX(-50%) rotate(-135deg);
				}
			}
		}

	}
	&__body {
		display: none;
		box-sizing: border-box;
		padding: 28px 4.2%;
		background-color: #f0f2f5;
		@include mq(sp) {
			padding: 14px 7.2%;
		}
	}

	&__question {
		font-size: 2rem;
		line-height: 1.6;
		font-weight: bold;
		position: relative;
		transition: color 0.3s;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding-right: 20px;
		margin-top: 6px;
		margin-left: 0;
		margin-right: auto;
		transition: opacity 0.3s;
		@include mq(sp) {
			font-size: 1.5rem;
			margin-top: 3px;
			padding-right: 8px;
			position: static;
		}


	}
	&__initial {
		flex-shrink: 0;
		background-color: #024299;
		color: #fff;
		font-family: $eng;
		font-size: 1.8rem;
		font-weight: bold;
		width: 46px;
		height: 46px;
		line-height: 46;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		@include mq(sp) {
			font-size: 1.5rem;
			width: 32px;
			height: 32px;
			line-height: 32;
			margin-right: 16px;
		}
	}
	&__answer {
		font-size: 1.6rem;
		position: relative;

		a {
			font-weight: bold;
			color: #5bc1e7;
			border-bottom: 1px solid;
		}

		@include mq(sp) {
			font-size: 1.4rem;
		}
	}
}
