@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(pc)
// @include mq(tab)
// @include mq(sp)

/* ============================================
// 沖縄受験ゼミナール（オー・イー・エス）
// ==========================================*/

/*--------------------
	variables
--------------------*/
$primary-color: #024299;
$secondary-color: #00a4e8;

/*--------------------
	ページ内共通
--------------------*/
.decoCircle {
	background-image: linear-gradient(-45deg, #fff 25%, #b6e1f7 25%, #b6e1f7 50%, #fff 50%, #fff 75%, #b6e1f7 75%, #b6e1f7);
  background-size: 7px 7px;
	border-radius: 50%;
	pointer-events: none;

	&-size {
		&-xxs {
			width: 50px;
			height: 50px;
			@include mq(sp) {
				width: 35px;
				height: 35px;
			}
		}
		&-xs {
			width: 72px;
			height: 72px;
			@include mq(sp) {
				width: 50px;
				height: 50px;
			}
		}
		&-s {
			width: 89px;
			height: 89px;
			@include mq(sp) {
				width: 64px;
				height: 64px;
			}
		}
		&-sm {
			width: 100px;
			height: 100px;
			@include mq(sp) {
				width: 70px;
				height: 70px;
			}
		}
		&-m {
			width: 144px;
			height: 144px;
			@include mq(sp) {
				width: 100px;
				height: 100px;
			}
		}
		&-l {
			width: 240px;
			height: 240px;
			@include mq(sp) {
				width: 168px;
				height: 168px;
			}
		}
	}
}
.commonHead01 {
	.eng {
		font-size: 1.5rem;
		font-weight: bold;
		@include mq(sp) {
			font-size: 1.4rem;
		}
	}
	.ja {
		font-size: 3.6rem;
		line-height: 1.2;
		font-weight: bold;
		@include mq(sp) {
			font-size: 2.6rem;
		}
	}

	&-color {
		&-white {
			color: #fff;
		}
		&-blue {
			.eng {
				color: $secondary-color;
			}
			.ja {
				color: $primary-color;
			}
		}
	}
	&-position {
		&-center {
			text-align: center;
		}
	}
}

/*--------------------
	style
--------------------*/
.lower-oes {

	// メインビジュアル
	.mainVisual {
		background: radial-gradient(circle, rgba(2,93,203,1) 0%, rgba(2,65,159,1) 60%);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		height: 560px;
		position: relative;
		@include mq(tab) {
			height: 496px - 16px;
		}
		@include mq(sp) {
			flex-direction: column-reverse;
			height: auto;
			padding-top: 48px;
		}

		//背景
		&::before {
			content: '';
			display: inline-block;
			background-image: url(../img/oes/mv_bg.png);
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			// z-index: -1;
			pointer-events: none;
		}

		&__imgArea {
			flex: 0 0 47.2%;
			margin-right: 2.8%;
			position: relative;
			z-index: 10;
			@include mq(sp) {
				margin-right: 0;
			}
		}
		&__img {
			margin-top: -28px;
			@include mq(tab) {
				margin-top: -16px;
			}
			@include mq(sp) {
				margin-top: 0;
			}

			img {
				@include mq(tab) {
					height: 496px;
				}
				@include mq(sp) {
					height: 300px;
				}
			}
		}
		&__txtArea {
			flex: 0 0 50%;
			align-self: center;
			margin-top: -40px;
			position: relative;
			@include mq(sp) {
				margin-top: 0;
			}
		}
		&__copy {
			img {
				@include mq(tab) {
					transform: scale(0.8);
					transform-origin: left;
				}
				@include mq(sp) {
					transform: scale(1);
					// transform-origin: center;
					height: 90px;
				}
			}
		}
		&__lead {
			margin-top: 36px;
			@include mq(tab) {
				margin-top: 16px;
			}
			@include mq(sp) {
				margin-top: 20px;
			}

			img {
				@include mq(tab) {
					transform: scale(0.8);
					transform-origin: left;
				}
				@include mq(sp) {
					transform: scale(1);
					// transform-origin: center;
					height: 50px;
				}
			}
		}
		&__commonBtn01 {
			margin-top: 36px;
			@include mq(tab) {
				margin-top: 24px;
			}
			@include mq(sp) {
				margin-top: 32px;
			}
		}

	}
	// イントロ
	.sec__intro {

		.intro {
			&__inner {
				padding-bottom: 100px;
				max-width: 1180px;
				z-index: auto;
				@include mq(sp) {
					padding-bottom: 80px;
				}
			}

			&__txtBox {
				max-width: 960px;
				margin: 0 auto;
				margin-top: -40px;
				background-color: #fff;
				border: 3px solid $primary-color;
				border-radius: 16px;
				padding: 48px 7.2%;
				font-weight: 500;
				box-shadow: -10px 10px 0px -2px rgba(#c2e5f7,20%);
				position: relative;
				z-index: 11;
				@include mq(sp) {
					padding: 28px 8%;
				}

				&__txt {
					color: $primary-color;
				}
			}
			&__body {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 96px;
				@include mq(sp) {
					display: block;
					margin-top: 48px;
				}
			}

			&__txtArea {
				flex: 1 1 auto;
			}
			&__lead {
				font-size: 3.6rem;
				font-weight: bold;
				color: $primary-color;
				line-height: 1.6;
				@include mq(sp) {
					font-size: 2.4rem;
				}
			}
			&__desc {
				margin-top: 20px;
			}
			&__imgArea {
				flex: 0 0 44%;
				max-width: 480px;
				margin-left: 6.8%;
				@include mq(sp) {
					// width: 85%;
					margin: 0 auto;
					margin-top: 20px;
				}
			}
			&__imgHolder {
				display: flex;
				justify-content: flex-start;
				align-items: stretch;

				margin-top: 10px;
				&:first-child {
					margin-top: 0;
				}
			}
			&__img {
				margin-left: 10px;
				width: 100%;
				&:first-child {
					margin-left: 0;
				}

				img {
					border-radius: 16px;
					@include mq(sp) {
						border-radius: 12px
					}
				}

				&-size {
					&-m {
						@include keepAspect(58.3%);
					}
					&-s {
						@include keepAspect(100%);
					}
				}
			}
			&__deco {
				&__circle {
					position: absolute;
					z-index: -1;
					pointer-events: none;

					&-01 {
						top: -88px;
						left: -40px;
						@include mq(sp) {
							top: -24px;
							left: -20px;
						}
					}
					&-02 {
						top: 140px;
						left: -64px;
						@include mq(tab) {
							top: 224px;
							left: 12px;
						}
						@include mq(sp) {
							top: 432px;
							left: auto;
							right: -8px;
						}
					}
					&-03 {
						bottom: -90px;
						right: -90px;
						@include mq(sp) {
							bottom: -80px;
							right: -64px;
						}
					}
				}
			}
		}
	}
	// 仕事紹介
	.sec__jobs {
		background-color: $secondary-color;
		padding-bottom: 100px;
		color: #fff;
		position: relative;
		@include mq(sp) {
			padding-bottom: 56px;
		}

		// 背景色 濃水色
		&::before {
			content: '';
			display: inline-block;
			background-color: #0094cf;
			width: 100%;
			height: 100px;
			position: absolute;
			bottom: 0;
			left: 0;
			pointer-events: none;
		}

		.jobs {
			&__inner {
				max-width: 1180px;

				// 背景色 secondary-color
				&::before {
					content: '';
					display: inline-block;
					background-color: $secondary-color;
					width: 100%;
					height: 80px;
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(-100%,-98%);
					pointer-events: none;
					@include mq(tab) {
						height: 64px;
					}
					@include mq(sp) {
						height: 44px;
					}
				}
				// 背景色 secondary-color
				&::after {
					content: '';
					display: inline-block;
					background-color: $secondary-color;
					width: 28%;
					height: 80px;
					position: absolute;
					top: 0;
					left: 0;
					transform: translateY(-98%);
					pointer-events: none;
					border-radius: 0 16px 0 0;
					@include mq(tab) {
						height: 64px;
					}
					@include mq(sp) {
						width: 50%;
						height: 44px;
					}
				}
			}
			&__head {

			}
			&__body {
				margin-top: 40px;
				@include mq(sp) {
					margin-top: 24px;
				}
			}

			&__txtArea {
				max-width: 820px;
				text-align: center;
				margin: 0 auto;
				@include mq(sp) {
					text-align: left;
				}
			}
			&__lead {
				font-size: 3.6rem;
				line-height: 1.6;
				font-weight: bold;
				@include mq(sp) {
					font-size: 2.2rem;
				}
			}
			&__desc {
				margin-top: 20px;
				text-align: left;
			}
			&__listArea {
				margin-top: 110px;
				position: relative;
				@include mq(sp) {
					margin-top: 72px;
				}

				// 背景色 濃水色
				&::before {
					content: '';
					display: inline-block;
					background-color: #0094cf;
					width: 200vw;
					height: calc(100% - 140px);
					position: absolute;
					bottom: 0;
					left: 0;
					transform: translateX(-50%);
					pointer-events: none;
					@include mq(sp) {
						height: calc(100% - 100px);
					}
				}
			}
			&__cardList {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				@include mq(sp) {
					display: block;
				}

				&__item {
					flex: 0 0 46%;
					max-width: 500px;
					position: relative;
					@include mq(pc) {
						margin-right: 6%;
						&:nth-child(even) {
							margin-right: 0;
							animation-delay: 0.2s;
						}
					}
					@include mq(sp) {
						margin-top: 60px;
						&:first-child {
							margin-top: 0;
						}
					}
				}

				&__jobName {
					background-color: $primary-color;
					display: inline-block;
					border-radius: 5px;
					padding: 8px 36px;
					font-size: 2.4rem;
					font-weight: bold;
					position: absolute;
					top: -40px;
					left: 50%;
					transform: translateX(-50%);
					white-space: nowrap;
					z-index: 2;
					@include mq(sp) {
						font-size: 1.8rem;
						padding: 4px 24px;
						top: -28px;
					}
				}
				&__img {
					@include keepAspect(58.4%);
					img {
						border: 3px solid $primary-color;
						border-radius: 16px;
					}
				}
				&__desc {
					margin-top: 20px;
					@include mq(sp) {
						margin-top: 16px;
					}
				}
			}
		}
	}
	// よくある質問
	.sec__faq {
		overflow: hidden;
		.faq {
			&__inner {
				max-width: 1180px;
				padding-top: 88px;
				padding-bottom: 120px;
				@include mq(sp) {
					padding-top: 56px;
					padding-bottom: 56px;
				}
			}
			&__head {

			}
			&__body {
				margin-top: 44px;
				position: relative;
				@include mq(sp) {
					margin-top: 40px;
				}

				// 教科書 画像
				&::before {
					content: '';
					display: inline-block;
					background-image: url(../img/oes/faq_books.png);
					background-size: contain;
					background-repeat: no-repeat;
					width: 260px;
					height: 261px;
					position: absolute;
					top: -150px;
					left: -50px;
					@include mq(sp) {
						transform: scale(0.35);
						transform-origin: top left;
						top: -64px;
						left: -16px;
					}
				}
			}
			&__deco {
				&__circle {
					position: absolute;
					z-index: -1;
					pointer-events: none;

					&-01 {
						top: -50px;
						right: -24px;
						@include mq(tab) {
							top: 32px;
							right: 48px;
						}
						@include mq(sp) {
							top: -32px;
							right: 32px;
						}
					}
					&-02 {
						top: 96px;
						right: -64px;
						@include mq(tab) {
							top: 164px;
							right: 12px;
						}
						@include mq(sp) {
							top: 64px;
							right: 8px;
						}
					}
				}
			}
		}

		.faqBox {
			border-radius: 16px;
			background-color: #fff;
			position: relative;
			box-shadow: -10px 10px 0px -2px #e6edf6;

		}
		.faqList {
		}
		.faqAccordion {
			&__head {
				color: $primary-color;
				@include mq(sp) {
					padding-left: 10px;
				}
			}
			&__initial {
				position: relative;
				width: 24px;
				height: 42px;
				background: #024299;
				position: relative;
				margin-right: 28px;
				@include mq(sp) {
					width: 18px;
					height: 32px;
					margin-right: 20px;
				}

				&:before,
				&:after  {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: #024299;
					z-index: -1;
				}
				&::before {
					transform: rotate(60deg);
				}
				&::after {
					transform: rotate(-60deg);
				}
			}
		}
	}
	// 人事担当者メッセージ
	.sec__message {
		background-color: $secondary-color;
		color: #fff;

		.message {
			&__inner {
				padding-top: 88px;
				padding-bottom: 88px;
				max-width: 1180px;
				position: relative;
				@include mq(sp) {
					padding-top: 48px;
					padding-bottom: 56px;
				}

				// ノート画像
				&::before {
					content: '';
					display: inline-block;
					background-image: url(../img/oes/message_note.png);
					background-size: contain;
					background-repeat: no-repeat;
					width: 262px;
					height: 215px;
					position: absolute;
					top: -48px;
					right: -48px;
					@include mq(tab) {
						right: 20px;
					}
					@include mq(sp) {
						transform: scale(0.4);
						transform-origin: top right;
						top: -24px;
						right: 8px;
					}
				}

			}
			&__head {

			}
			&__body {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 56px;
				@include mq(sp) {
					display: block;
					margin-top: 32px;
				}
			}

			&__imgArea {
				flex: 0 0 33%;
				max-width: 360px;
				margin-right: 6%;
				@include mq(sp) {
					width: 80%;
					max-width: 240px;
					margin: 0 auto;
				}
			}
			&__img {
				@include keepAspect(100%);
				img {
					border-radius: 50%;
					border: 3px solid $primary-color;
				}
			}
			&__nameArea {
				text-align: center;
				margin-top: 8px;
			}
			&__status {
				font-size: 1.5rem;
				@include mq(sp) {
					font-size: 1.4rem;
				}
			}
			&__name {
				font-size: 2rem;
				font-weight: bold;
				line-height: 1.5;
				@include mq(sp) {
					font-size: 1.8rem;
				}
			}
			&__txtArea {
				@include mq(sp) {
					margin-top: 20px;
				}
			}
			&__desc {
				line-height: 2.625;
				background: linear-gradient(transparent 98%, #fff 0%);
				display: inline;
					padding-bottom: 8px;
					@include mq(sp) {
						padding-bottom: 6px;
					}
			}
		}
	}
	// リクルート
	.sec__recruit {
		overflow: hidden;
		.recruit {
			&__inner {
				padding-top: 100px;
				padding-bottom: 110px;
				@include mq(sp) {
					padding-top: 48px;
					padding-bottom: 56px;
				}
			}
			&__txtArea {
				max-width: 600px;
				margin: 0 auto;
			}
			&__lead {
				font-size: 3.6rem;
				line-height: 1.6;
				font-weight: bold;
				color: $primary-color;
				text-align: center;
				@include mq(sp) {
					font-size: 2.6rem;
				}
			}
			&__desc {
				margin-top: 32px;
				@include mq(sp) {
					margin-top: 16px;
				}
			}
			&__commonBtn01 {
				margin: 0 auto;
				margin-top: 40px;
				@include mq(sp) {
					margin-top: 32px;
					width: 200px;
					height: 56px;
				}
			}
			&__deco {

				&__circle {
					position: absolute;
					z-index: -1;
					pointer-events: none;

					&-01 {
						top: 64px;
						left: 160px;
						@include mq(sp) {
							top: -16px;
							left: 42px;
						}
					}
					&-02 {
						top: 124px;
						left: 88px;
						@include mq(sp) {
							top: 32px;
							left: -32px;
						}
					}
					&-03 {
						top: 320px;
						right: 140px;
						@include mq(sp) {
							top: auto;
							bottom: 96px;
							right: 80px;
						}
					}
					&-04 {
						top: 200px;
						right: 84px;
						@include mq(sp) {
							top: auto;
							bottom: 120px;
							right: -8px;
						}
					}
				}
				&__woman {
					position: absolute;
					bottom: -132px;
					left: 0;
					z-index: -1;
					pointer-events: none;
					@include mq(sp) {
						transform: scale(0.3);
						transform-origin: bottom left;
						bottom: -46px;
					}
				}
				&__man {
					position: absolute;
					bottom: -4px;
					right: 0;
					z-index: -1;
					pointer-events: none;
					@include mq(sp) {
						transform: scale(0.3);
						transform-origin: bottom right;

					}
				}
			}
		}
	}

}
